@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View messages</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-1.1.1.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
 
        $(function () {
            var job = $.connection.messageHub;

            job.client.displayMessages = function () {
                getData();
            };
          
            $.connection.hub.start();
            getData();
        });
 
        function getData() {
            var $tbl = $('#info');
            $.ajax({
                url: '../api/values',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $tbl.empty();
                        $tbl.append('<tr><th>ID</th><th>Date</th><th>Message</th></tr>');
                        var rows = [];
                        for (var i = 0; i < data.length; i++) {
                            rows.push(' <tr><td>' + data[i].ID + '</td><td>' + data[i].Date.toString().substr(0, 10) + '</td><td>' + data[i].Text + '</td></tr>');
                        }
                        $tbl.append(rows.join(''));
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div>
        <table id="info" style="text-align:center; margin-left:10px">
        </table>
    </div>
</body>
</html>